main {
    background-image: url("test_pic.png");
    background-repeat: repeat;
    padding: 10px; 
    margin: 10px;
    background-attachment: fixed;
    height: 100vh;
}

li { 
    list-style:none; 
    float:left;  
    width:50px;  
    height:25px; 
    background:#ffbfbf; 
    margin:5px; 
}
li:nth-child(even) { 
    background:#b7cefc; 
}

.change_color:hover {
    color: purple;
}
.change_color:active {
    color: orange;
}

.paragraph::selection {
    background-color: purple;
    color: white;
}

h1 {
    text-align: center;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-size: 50px;
}

.animated-text {
    animation: moveHorizon 5s alternate ease-in-out infinite;
}
@keyframes moveHorizon {
    0% {
        opacity: 0.3;
        transform: translateX(-30%);
    }    
    50% {
        opacity: 1;
    } 
    100% {
        opacity: 0.3;
        transform: translateX(30%);
    } 
}

img:hover {
    transition: all 1s ease-in-out;
    transform: rotate(720deg) scale(0.5);
}     
img:active {
    transform: translateY(180px) scale(0.5);
}