body {
    text-align: left;
}
h1{
    text-align: center;
    color: orangered;
    font-family: "LXGW WenKai Mono TC", monospace;
}
h2{
    text-align: center; 
    color:#1174c5; 
    background-color:#d1e5fc;
}       
section{
    text-align: center;
}        
#id-header {
    color: brown;
}
.color-header {
    color: purple;
}
a:hover {
    color: green;
}
a:active {
    color: red;
}
li:nth-child(odd) {
    background-color: pink;
}
p::selection {
    color: white;
    background-color: palevioletred;
}
section {
    background-image: url(images/pic.png);
    background-repeat: repeat;
    padding: 10px;
    margin: 10px;
    background-attachment: fixed ;
}
.polaroid:hover {
    transition: all 3s ease-in-out;
    transform: rotate(360deg) scale(0.7);
}
.polaroid:active {
    transition: all 5s ease-in-out;
    transform: translateX(500px);
}
.animated-text {
    animation: moveHorizon 5s alternate ease-in-out infinite;
}
@keyframes moveHorizon {
    0% {
        transform: translateX(-30%) scaleX(1);
    }
    50% {
        scale: 0.8 1;
    }
    100% {
        transform: translateX(30%) scaleX(1);
    }
}